@import '../../styles/mixins';
@import '../../styles/variables';
    .item-img{
        background: rgba(220, 210, 210, 0.503);
        // border-radius: 8px;
        // padding: 5px;
        max-width:210px;
        @include desktop{
            width: 230px;
        }
        img{
            height: auto;
            object-fit: cover;
            width: 100%;
        }
}
.item-details{
    font-family: 'Poppins', sans-serif;
    p{
        text-align: left;
        margin: 2px;
    }
    .item-name{
        font-weight: 700;
        color: rgba(0, 0, 0, 0.807);
        font-size: 16px;
        @include tablet{
            font-size: 15px;
        }
    }
    .item-desc{
        font-style: italic;
        max-width: 200px;
    }
    .price{
        display: flex;
        align-items: center;
        gap: 2px;
        .item-price{
            font-weight: 800;
            color: rgba(0, 0, 0, 0.888);
            @include tablet{
                font-size: 15px;
            }
        }
        .discount{
            text-decoration: line-through;
            font-size: 12px;
        }
        .offer-percent{
            font-size: 15px;
            font-weight: 600;
            color: black;
        }
    }
}
.p{
            font-size: 18px;
            letter-spacing: 0;
            
}

.wishlist-icon{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    padding-right: 15px;
    cursor: pointer;
    transition: $transition;
    @include minitablet {
        padding: 0;
        justify-content: center;
    }
    &:hover{
        color: rgb(226, 48, 48);
    }
}