.sidebar {
  display: flex;
  gap: 5px;
  margin-left: 5px;
  font-family: poppins, "sans-serif";
}
@media (min-width: 758px) {
  .sidebar {
    flex-direction: column;
  }
}

.category-inputs {
  display: flex;
  flex-direction: row;
}
.category-inputs label {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: rgb(137, 131, 131);
}
.category-inputs label input {
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(245, 80, 245);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.category-inputs label input:checked, .category-inputs label input:focus, .category-inputs label input:hover {
  border-color: rgb(245, 80, 245);
  outline: 2px solid #023f1c;
  outline-offset: -5px;
}
@media (min-width: 758px) {
  .category-inputs label input {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

.category-filter, .prices-filter {
  background-color: black;
  color: white;
  width: 100px;
  position: relative;
}
@media (min-width: 758px) {
  .category-filter, .prices-filter {
    background: transparent;
    color: black;
    width: 150px;
  }
}
.category-filter .category-inputs, .prices-filter .category-inputs {
  position: absolute;
  display: block;
  background-color: black;
  padding: 0 15px;
}
@media (min-width: 758px) {
  .category-filter .category-inputs, .prices-filter .category-inputs {
    position: relative;
    background-color: transparent;
    color: black;
    width: 150px;
  }
}
.category-filter .category-inputs input, .prices-filter .category-inputs input {
  margin: 5px;
}

.heading-sidebar {
  display: flex;
  border: 1px solid;
  margin: 3px;
  gap: 5px;
}
@media (min-width: 458px) {
  .heading-sidebar {
    margin: 0.5em 0;
    border: none;
  }
}
.heading-sidebar h4 {
  font-weight: 500;
  font-size: 11px;
}

.prices-filter {
  background-color: black;
  color: white;
  width: 100px;
  position: relative;
  border-radius: 5px;
}
@media (min-width: 758px) {
  .prices-filter {
    background-color: transparent;
    color: black;
    width: 150px;
  }
}
.prices-filter .price-inputs {
  position: absolute;
  display: block;
  background-color: black;
  padding: 0 10px;
}
@media (min-width: 758px) {
  .prices-filter .price-inputs {
    position: relative;
    background: transparent;
    color: black;
    width: 150px;
  }
}
.prices-filter .price-inputs label {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: rgb(137, 131, 131);
}
.prices-filter .price-inputs label input {
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(245, 80, 245);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.prices-filter .price-inputs label input:checked, .prices-filter .price-inputs label input:focus, .prices-filter .price-inputs label input:hover {
  border-color: rgb(245, 80, 245);
  outline: 2px solid #023f1c;
  outline-offset: -5px;
}/*# sourceMappingURL=Sidebar.css.map */